body {
    padding: 0;
    margin: 0;
    background-color: #222;
    color: #eee;
    font-size: 18px;
    font-family: Lucida Sans Unicode;
  }

body h1 {
    font-size: 40px;
    text-align: center;
    color: #ff6600;
}

body h2 {
    color: #ff6600;
}

h1.titulo2 {
    color: #eee;
    font-size: 80px;
}

header {
    height: 150px;
    background-color: #222;
}

nav {
    float: right;
    padding-right: 50px;
    padding-top: 50px;
}

nav ul {
    list-style:none;
    
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #eee;
}

nav a:hover{
    color: #ff6600;
}

section.banner {
    height: 600px;
    width: 100%;
}

section.especialidades {
    display: flex;
}

nav.box {
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px;
    padding: 50px;
    border-radius: 30px;
}

section.sobrenos {
    text-align: center;
    font-style: italic;
    padding-left: 500px;
    padding-right: 500px;
}

section.contato {
    padding: 50px;
}

section.contato {
    background-color: #eee;
    color: #222;
}

section.contato table {
    border: 0;
    width: 600px;
}

section.contato table {
    border-radius: 20px;
    width: 800px;
}

.botao {
    background-color: #ff6600;
    color: #eee;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    font-size: 20px;
}

.botao_whatsapp

{
    background-color: #ff6600;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #eee;
}

section.orcamento {
    display: flex;
    justify-content: center;
    color: #eee;
    padding: 50px;
    padding-top: 80px;
    height: 400px;
}

footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ff6600;
}